### Common ###
target/
!**/src/main/**
!**/src/test/**

### Eclipse ###
.classpath
.project
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/
/nbbuild/
/dist/
/nbdist/
build/